.hidden{
    display: none;
}

button.execute{
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    padding: 10px 5px;
    background-color: rgb(240, 135, 16);
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

button.execute:hover{
    opacity: 90%;
}

.modeSelector-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.modeSelector-container > span{
    font-weight: 600;
}


.modeSelector{
    width: 60px;
    height: 30px;
    display: inline-flex;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    border: none;
    outline: 1px solid gray;
    cursor: pointer;
}

.selectorCircle{
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;

}
.modeSelector.simple{
    justify-content: flex-start;
    background-color: rgb(185, 185, 185);
}

.modeSelector.advance{
    justify-content: flex-end;
    background-color: rgb(0, 119, 255);
}
